<!DOCTYPE html>
<html>
<head>
    <title>Add Event</title>
</head>
<body>

<h1>Add Event</h1>

<form action="/event/add" method="post">

    <label>Event ID:</label>
    <input type="number" name="eventID"><br><br>

    <label>Event Name:</label>
    <input type="text" name="eventName"><br><br>

    <label>Description:</label>
    <input type="text" name="description"><br><br>

    <label>Location:</label>
    <input type="text" name="location"><br><br>

    <label>Date:</label>
    <input type="text" name="date"><br><br>

    <label>Host Name:</label>
    <input type="text" name="hostName"><br><br>

    <button type="submit">Add Event</button>

</form>

</body>
</html>