<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enrollment List</title>
</head>
<body>

<h2>Enrollment List</h2>

<br>

<a href="/enrollment/add">Add Enrollment</a>

<br><br>

<table border="1">

    <thead>
    <tr>
        <th>Enrollment ID</th>
        <th>Student Name</th>
        <th>Event Name</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>

    {{#enrollmentList}}

        <tr>
            <td>{{enrollmentId}}</td>
            <td>{{studentName}}</td>
            <td>{{eventName}}</td>
            <td>{{date}}</td>
        </tr>

    {{/enrollmentList}}

    </tbody>

</table>

<br><br>

<a href="/">Back to Home</a>

</body>
</html>