<!DOCTYPE html>
<html>
<head>
    <title>Event List</title>
</head>

<body>

<h1>Events</h1>

<a href="/event/add">Add Event</a>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Date</th>
        <th>Host</th>
    </tr>

    {{#events}}
        <tr>
            <td>{{eventID}}</td>
            <td>{{eventName}}</td>
            <td>{{eventDescription}}</td>
            <td>{{eventLocation}}</td>
            <td>{{date}}</td>
            <td>{{hostName}}</td>
        </tr>
    {{/events}}

</table>

</body>
</html>